<!DOCTYPE html>
<html>
    <head>
        <title>Glossz | {% block title %}{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="apple-touch-icon" sizes="57x57" href="/favicon/apple-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="/favicon/apple-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="/favicon/apple-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="/favicon/apple-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="/favicon/apple-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="/favicon/apple-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="/favicon/apple-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="/favicon/apple-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-icon-180x180.png">
        <link rel="icon" type="image/png" sizes="192x192"  href="/favicon/android-icon-192x192.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="96x96" href="/favicon/favicon-96x96.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
        <link rel="manifest" href="/favicon/manifest.json">
        <meta name="msapplication-TileColor" content="#FF7373">
        <meta name="msapplication-TileImage" content="/favicon/ms-icon-144x144.png">
        <meta name="theme-color" content="#FF7373">

        {% block metadata %}
            <!-- Open Graph data -->
            <head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#">
            <meta property="og:title" content="{{meta_title ? meta_title : 'GlossZ'}}" />
            <meta property="og:type" content="{{ meta_type ? meta_type : 'website'}}" />
            <meta property="og:url" content="{{ meta_website ? meta_website : 'https://glossz.whotofollow.co'}}" />
            <meta property="og:image" content="https://example.com/image.jpg" /> 
            <meta property="og:description" content="{{meta_description ? meta_description : 'Community driven translation glossaries.'}}" /> 
            <meta property="og:site_name" content="GlossZ" /> 
            <!-- Twitter Card data -->
            <meta name="twitter:card" content="summary">
            <meta name="twitter:site" content="@AlexWhiteDev">
            <meta name="twitter:title" content="{{meta_title ? meta_title : 'GlossZ'}}">
            <meta name="twitter:description" content="{{meta_description ? meta_description : 'Community driven translation glossaries.'}}">
            <meta name="twitter:creator" content="@AlexWhiteDev">
            <!-- Twitter Summary card images must be at least 120x120px --> 
            <meta name="twitter:image" content="https://example.com/image.jpg">
        {% endblock %}

        {% block head %}

            <link href="https://glossz.whotofollow.co/" rel="canonical" />

            {% block styles %}
                <link rel="stylesheet" href="/styles/bootstrap.min.css" />
                <link rel="stylesheet" href="/styles/bootstrap-grid.min.css" />
                <link rel="stylesheet" href="/styles/bootstrap-reboot.min.css" />
                <link rel="stylesheet" href="/styles/app.css" />
            {% endblock %}

            {% block scripts %}
                <script src="/scripts/jquery.min.js"></script>
                <script src="/scripts/bootstrap.min.js"></script>
                <script src="https://use.fontawesome.com/2d1b260ddf.js"></script>

                <script src="/scripts/glossary-min.js"></script>
            {% endblock %}
        {% endblock %}
    </head>
    <body>
        <div class="header">
            {{ include("header.twig") }}
        </div>
        <div class="messages">
            {{ include("messages.twig") }}
        </div>
        <div class="content">
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>