{% extends "base.twig" %}

{% block title %}
{{ glossary[0].title }}
{% endblock %}

{% block metadata %}
    {% set title = glossary[0].title %}
    {% set numTerms = (terms|length) %}
    {% set meta_title = "GlossZ: #{title}"  %}
    {% set meta_description = "#{user.username}'s glossary on GlossZ with translations for #{numTerms} terms." %}
    {% set meta_website = "https://glossz.whotofollow.co/glossary/#{glossary[0].id}" %}

    {{ parent() }}
{% endblock %}

{% block content %}
    {% set self = glossary[0] %}

    <div class="glossary-container">
        <div class="glossary-title-bar">
            {% if edit_enabled %}
                <div class="glossary-title-bar-actions hidden-md-up">
                        <i class="fa fa-pencil glossary-enable-edit" aria-hidden="true"></i>
                        <i class="fa fa-trash glossary-delete" aria-hidden="true"></i>
                </div>
            {% endif %}
            <h3>
                <span id="glossary-title">{{ self.title }}</span>
                {% if edit_enabled %}
                    <div class="glossary-title-bar-actions hidden-sm-down">
                            <i class="fa fa-pencil glossary-enable-edit" aria-hidden="true"></i>
                            <i class="fa fa-trash glossary-delete" aria-hidden="true"></i>
                    </div>
                {% endif %}
            </h3>
            <h6>created by 
                <a href="/user/{{ user.id }}">
                    {{ user.username }}
                </a>
            </h6>
        </div>

        <div class="glossary-terms-container">
            {% block terms %}
                {{ include('glossary-terms.twig', {
                    terms: terms,
                    translations: translations,
                    languages: languages,
                    edit_enabled: edit_enabled
                    }
                ) }}
            {% endblock %}
        </div>
    </div>
{% endblock %}