{% block term %}
    {% set self = term.term %}

    <div class="glossary-terms-term-group">
        <h4>{{ self.value }}</h4>
    </div>

    <div class="glossary-terms-term-translations" termid="{{ self.id }}">
            {{ include('glossary-term-translations.twig', {
                translations: term.translations
            }, with_context = false) }}
    </div>
    {% if session_id %}
        <div class="glossary-terms-term-contribute-form glossary-terms-term-card" termid="{{ self.id }}">
            <div class="term-card-title">
                <span>Contribute Translation</span>
            </div>
            <div class="term-card-content">
                {{ include('glossary-translations-add-form.twig', {
                    term_id: self.id,
                    languages: languages
                }) }}
            </div>
        </div>
    {% endif %}

{% endblock %}