{% block add_translation_form %}
    <form class="glossary-translations-add-form" termid="{{ term_id }}">
        <input type="text" class="new-translation-value" placeholder="Translated term" name="value" termid="{{ term_id }}"/>
        <div class="new-translation-language-container">
            <select class="new-translation-language" name="language_id" termid="{{ term_id }}">
                {% for language in languages %}
                    <option value="{{ language.id }}">
                        {{ language.full_name }}
                    </option>
                {% endfor %}
            </select>
            <i class="fa fa-arrow-circle-down" aria-hidden="true"></i>
        </div>
        <div class="glossary-translations-add-button" termid="{{ term_id }}">
            Add translation
        </div>
    </form>
{% endblock %}