{% extends "base.twig" %}

{% block title %}
{{ user.username }}'s Profile
{% endblock %}

{% block metadata %}
    {% set meta_title = "GlossZ: #{user.username}'s Profile"  %}
    {% set meta_description = "#{user.username} has created #{glossaries|length} #{(glossaries|length==1 ? 'glossary' : 'glossaries')} on GlossZ" %}
    {% set meta_website = "https://glossz.whotofollow.co/user/#{user.id}" %}

    {{ parent() }}
{% endblock %}

{% block content %}
    <div class="user-profile-container">
        <div class="user-profile-header">
            <h3>
                {{ user.username }}
            </h3>
            <h6>
            {{ (glossaries|length > 0) ? glossaries|length : "No" }}
                {{ (glossaries|length > 1 or glossaries|length == 0) ? "glossaries" : "glossary"}}
                created
            </h6>
        </div>
        <ul class="user-glossary-list">
            {% for glossary in glossaries %}
                <li>
                    <a href="/glossary/{{ glossary.id }}">
                        <p>> {{ glossary.title }}</p>
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>

{% endblock %}